<section role="region" aria-label="Dependency Check Section" id="DependencyCheck" class="f8launcher-section-dependency-check f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'DependencyCheck')">
          Dependency Editor
        </h1>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <app-dependency-editor [boosterInfo]="boosterInfo && boosterInfo" [git]="github && github"></app-dependency-editor>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">Continue</button>
        <button class="btn btn-default" (click)="launcherComponent.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</section>
